/* CSSコード */
.header {
  position: fixed;
  top: 0;
  left: 0;
    height: 30px;
    width: 100%;

  }
  .nav_list{
    display: flex;
    list-style: none;
    background-color: rgba(0, 0, 0, 1);
    width: calc(100%-960px);
    box-sizing: border-box;
  }
  
  .nav_item{
    display: flex;
    padding-right: 30px;
    font-size: 500%;
    color: black;
  }

    body {
      padding-top: 100px;
      background-image: url('rengoku.jpg');
      background-size: cover; 
      background-attachment: fixed; 
      background-repeat: no-repeat; 
      background-position: center center;
      height: auto;
      max-width: auto;
      background-color: rgba(255, 255, 255, 1);
  }
    
  .portfolio{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
  }

.portfolio > h1{
  margin: 50px;
  font-size: 800%;
  color: #ffffff;
}
.about{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  width: calc(100%-960px);
  box-sizing: border-box;
  background-color: rgba(255, 0, 0, 0.5);
}
.about > img {
  padding-left: 50px;
  background-position: 73% 30%;
  width: 200px;
  height:200px;
  border-radius:50%;
  background-image: url("rengoku_02.webp");
}
h2{
  margin: 50px;
  font-size: 700%;
  color: #ffffff;
}
.about>h3{
  padding: 2%;
  margin: 0;
  font-size: 600%;
  color: #ffffff;
}
.about>p{
  background-color: rgba(0, 0, 0, 1);
  padding: 2%;
  font-size: 300%;
  color: #ffffff;
}
.skill>ul{
  display: flex;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 20px;
  width: calc(100%-960px);
  box-sizing: border-box;
}
.skill>ul>li{
  padding: 60px;
}
.skill.ul>li>h3{
  padding-right: 50px;
}
.etc{
  padding-top: 200px;
}

.skill >h2{
  right: 40%;
  height: 10em;
  font-size: 500%;
  color: #ffffff;
}
li>h3{
  right: 40%;
  margin: 0;
  font-size: 500%;
  color: #ffffff;
}
.maya{
  width: 200px;
  height: 200px;
}
.pre{
  width: 200px;
  height: 200px;
}
.Ai{
  width: 200px;
  height: 200px;
}
.works>ul{
  display: flex;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 20px;
  width: calc(100%-960px);
  box-sizing: border-box;
}
.portfolio{
  width: 300px;
  height: auto;
}

li>h4{
  padding-left: 10px;
  font-size: 200%;
  color: #ffffff;
}
.contact{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.contact>h3{

  font-size: 500%;
  color: #ffffff;
}
footer{
  display: block;
  height: 100px;
  background-color: black;
}
footer > h3{
  text-align: center;
  color: #ffffff;
}